fastapi
uvicorn
pandas==2.3.1
fuzzywuzzy
python-Levenshtein
streamlit==1.46.1
sqlalchemy
psycopg2-binary
requests
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
packaging
pillow
protobuf==3.20.3
pyarrow
pydeck
python-dateutil
pytz
referencing
rpds-py
six
smmap
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
pandas
#itertools